/*Element Selector*/
h1{
    color: rgb(33, 208, 54);
    text-decoration: underline;
}

p{
    color: darkgreen;
    text-align:left;
}

button{
    color: rgb(0, 255, 89);
    background-color: rgb(8, 94, 51);
}

body{
   background-color: rgb(213, 234, 177);
   /* hexadecimal
   background-color: #ffff00;*/
}

#box {
    background-color: rgb(40, 118, 71);
}

a{
    text-decoration: none;
}

#one{
    font-family: arial;
}

/*#h1{
    font-weight: normal;
}

#h2{
    font-weight: bold;
}

#h3{
    font-weight: lighter;
}

#h4{
    font-weight: 300;
}*/


/* Universal Selector 

* {
    color: rgb(243, 155, 169);
}

id Selector

#headingOne{
    color: rgb(232, 86, 229);
}

class Selector

.myclass{
    color: brown;
}*/

