* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: #6f6259;
    ;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

.hero .text {
    position: absolute;
    bottom: 40px;
    right: 40px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    border-radius: 8px;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

.about-section {
    background: #f4f4f4;
    padding: 80px 10%;
}

.about-container {
    display: flex;
    gap: 50px;
    align-items: center;
}

.about-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 4px;
}

.about-content {
    max-width: 600px;
}

.about-content h2 {
    letter-spacing: 3px;
    color: #555;
    margin-bottom: 20px;
}

.about-content .tagline {
    font-style: italic;
    color: #777;
    margin-bottom: 15px;
}

.about-content p {
    color: #555;
    line-height: 1.7;
    margin-bottom: 15px;
}

/* Responsive */
@media (max-width: 900px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }
}